<section class="search">
    <input
        placeholder="Search for a playlist"
        (ngModelChange)="searchValue$.next($event.toString())"
        ngModel=""
    />
    <section *ngIf="((search$ | async) || []).length == 0">No Results</section>
    <section *ngIf="search$ | async as search">
        <app-search-playlist-element
            (emitter)="playlistID$.next($event.toString())"
            [data]="result"
            *ngFor="let result of search$ | async"
        >
        </app-search-playlist-element>
    </section>
</section>
<!-- Todo: Spinner -->
<main class="playlist" *ngIf="playlist$ | async as playlist">
    <header class="playlist-header">
        <img [src]="playlist.images[0].url" alt="" />

        <div class="playlist-details">
            <h1>{{ playlist.name }}</h1>
            <p>{{ playlist.description }}</p>
            <p>{{ playlist.owner.name }}</p>
        </div>
    </header>

    <section class="playlist-analytics">
        <h2>Playlist Analytics</h2>

        <app-playlist-analysis [playlist]="playlist"> </app-playlist-analysis>
    </section>

    <section class="playlist-tracks">
        <header>
            <h2>Tracks</h2>
            <p>{{ playlist.tracks.total }} tracks</p>
        </header>
        <section>
            <input
                class="track-search"
                placeholder="Search for a track"
                [(ngModel)]="trackFilters.search"
            />
            <div class="filters">
                <span>Sort:</span>
                <app-sort-button name='Loudness' [value]="trackFilters.sorting.loudness" (valueChange)="setFilter('loudness', $event)"></app-sort-button>
                <app-sort-button name='Tempo' [value]="trackFilters.sorting.tempo" (valueChange)="setFilter('tempo', $event)"></app-sort-button>
                <app-sort-button name='Duration' [value]="trackFilters.sorting.duration_ms" (valueChange)="setFilter('duration_ms', $event)"></app-sort-button>
            </div>
        </section>
        <table>
            <thead>
                <tr>
                    <th class="track-index">#</th>
                    <th>Track Name</th>
                    <th>Album</th>
                    <th class="track-tempo">BPM</th>
                    <th class="track-duration">Duration</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let track of playlist.tracks.items | trackSorting:{
                    search: trackFilters.search,
                    sorting: {
                        tempo: trackFilters.sorting.tempo,
                        loudness: trackFilters.sorting.loudness,
                        duration_ms: trackFilters.sorting.duration_ms
                    }
                }; let i = index">
                    <td class="track-index">{{ i + 1 }}</td>
                    <td class="track-details">
                        <div class="flex-wrapper">
                            <img
                                class="track-image"
                                [src]="track.album.image?.url"
                            />
                            <aside class="track-overview">
                                <b class="track-name">
                                    {{ track.name }}
                                </b>
                                <p class="track-artist">
                                    <span
                                        *ngFor="
                                            let artist of track.artists;
                                            let i = index
                                        "
                                    >
                                        {{ artist }}
                                        <span
                                            class="comma"
                                            *ngIf="i < track.artists.length - 1"
                                            >,</span
                                        >
                                    </span>
                                </p>
                            </aside>
                        </div>
                    </td>
                    <td>
                        {{ track.album?.name }}
                    </td>
                    <td class="track-tempo">
                        {{ round(track.features?.tempo || 0) }}
                    </td>
                    <td class="track-duration">
                        {{ track.duration_ms | date : "mm:ss" }}
                    </td>
                </tr>
            </tbody>
            <footer></footer>
        </table>
    </section>
</main>
