:host {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    color: white;

    .search {
        width: 300px;
        height: 100%;

        background-color: #070707;

        display: flex;
        flex-direction: column;

        input {
            width: calc(100% - 32px);
            background-color: #fff;
            color: #444;
            border: none;
            padding: 8px;
            border-radius: 4px;
            margin: 16px 16px 0px 16px;
        }

        section {
            flex: auto;
            overflow-y: scroll;
            margin: 16px;

            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */

            &::-webkit-scrollbar {
                display: none;
            }

            app-search-playlist-element {
                display: block;
                margin-top: 8px;
                border-radius: 4px;
                overflow: hidden;
            }
        }
    }

    .playlist {
        flex: auto;
        display: grid;
        grid-template-rows: 240px max-content max-content;
        grid-template-columns: 100%;
        grid-template-areas:
            "playlist-header"
            "playlist-analytics"
            "playlist-tracks";
        max-height: 100%;
        gap: 16px;
        padding: 24px;
        overflow-x: hidden;
        overflow-y: scroll;
        background-color: #111;

        header.playlist-header {
            display: flex;

            grid-area: playlist-header;
            overflow: hidden;
            max-height: 100%;

            padding: 16px;

            background-color: #171717;

            h1 {
                margin: 0;
            }

            img {
                display: block;
                min-height: 0;
                min-width: 0;
                flex-shrink: 1;
                object-fit: contain;
            }

            input.search {
                display: inline-block;
                height: 26px;
            }

            .playlist-details {
                padding: 24px;
            }
        }

        .playlist-analytics {
            grid-area: playlist-analytics;

            padding: 16px;

            background-color: #171717;
        }

        .playlist-tracks {
            grid-area: playlist-tracks;

            padding: 16px;

            background-color: #171717;

            > header {
                display: flex;
                align-items: center;

                h2 {
                }

                p {
                    color: #aaa;
                    margin-left: 8px;
                }
            }

            > table {
                width: 100%;
                border-collapse: collapse; /* Optional - if you don't want to have double border where cells touch */

                font-size: 14px;
                line-height: 12px;

                background-color: #121212;

                th,
                td {
                    text-align: left;

                    &.track-duration {
                        padding-left: 16px;
                        padding-right: 16px;

                        text-align: center;
                    }

                    &.track-index {
                        width: 36px;
                        height: 36px;
                        text-align: center;
                        vertical-align: center;
                    }

                    &.track-details {
                        img.track-image {
                            width: 36px;
                            height: 36px;
                        }

                        aside.track-overview {
                            margin-left: 24px;
                            display: flex;
                            justify-content: space-between;
                            flex-direction: column;
                            height: 36px;

                            p {
                                margin: 0px;
                                color: #aaa;

                                span.comma {
                                    margin-left: -3px;
                                }
                            }

                            b {
                                font-weight: 400;
                            }
                        }
                    }
                }

                th {
                    padding-top: 16px;
                    padding-bottom: 16px;
                }

                td {
                    padding-top: 16px;
                }

                thead {
                    background-color: #222;
                }

                .flex-wrapper {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}
