:host {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    color: white;

    .search {
        width: 300px;
        height: 100%;

        background-color: #070707;

        display: flex;
        flex-direction: column;

        input {
            width: calc(100% - 32px);
            background-color: #fff;
            color: #444;
            border: none;
            padding: 8px;
            border-radius: 4px;
            margin: 16px 16px 0px 16px;
        }

        section {
            flex: auto;
            overflow-y: scroll;
            margin: 16px;

            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */

            &::-webkit-scrollbar {
                display: none;
            }

            app-search-playlist-element {
                display: block;
                margin-top: 8px;
                border-radius: 4px;
                overflow: hidden;
            }
        }
    }

    .playlist {
        flex: auto;
        display: grid;
        grid-template-rows: 240px calc(100% - 240px);
        grid-template-columns: 320px minmax(0, 1fr);
        max-height: 100%;
        gap: 32px;
        padding: 24px;
        overflow: hidden;
        background-color: #111;

        header.playlist-header {
            display: flex;

            grid-column: 1 / 3;
            overflow: hidden;
            max-height: 100%;

            padding: 16px;

            background-color: #171717;

            h1 {
                margin: 0;
            }

            img {
                display: block;
                min-height: 0;
                min-width: 0;
                flex-shrink: 1;
                object-fit: contain;
            }

            input.search {
                display: inline-block;
                height: 26px;
            }

            .playlist-details {
                padding: 24px;
            }
        }

        .playlist-col {
            display: flex;
            flex-direction: column;

            .playlist-col-content {
                flex: 1;
                max-height: 100%;
                overflow-x: hidden;
                overflow-y: auto;
                padding: 8px;
            }
        }

        .playlist-tracks {
            > app-track-card {
                margin-bottom: 1rem;
            }
        }
    }
}
