/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow: hidden;

    background-color: #111;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0px !important;
    margin: 0px !important;
}

.ngx-charts text {
    fill: #fff;
    font-size: 12px;
}

.ngx-charts {
    background-color: #222;
    border-radius: 8px;
}

* {
    box-sizing: border-box;
}
